<div class="container-fluid flex" >
    <div class="grid-container">
        <!-- Card 1 -->
        <div class="card card-1">
            <div class="responsive-chart" id="distribucion-razas"></div>
        </div>
        <!-- Card 2 -->
        <div class="card card-2">
            <div class="responsive-chart" id="activo-inactivo"></div>
        </div>
        <!-- Card 3 (1x2) -->
        <div class="card card-3">
            <div class="responsive-chart" id="evolucion-peso"></div>
        </div>
        <!-- Card 4 (1x2) -->
        <div class="card card-4">
            <div class="responsive-chart" id="relacion-peso"></div>
        </div>
        <!-- Card 5 -->
        <div class="card card-5">
            <div class="responsive-chart" id="promedio-peso"></div>
        </div>
        <!-- Card 6 (2x1) -->
        <div class="card card-6">
            <div class="responsive-chart" id="animales-mes"></div>
        </div>
        <!-- Card 8 (2x1) -->
        <div class="card card-8"> <!-- Cambiado a card-8 -->
            <div class="responsive-chart" id="mediciones-animal"></div>
        </div>
        <!-- Card 7 -->
        <div class="card card-7" > <!-- Cambiado a card-7 -->
            <div class="responsive-chart" id="eventos-tipo"></div>
        </div>
    </div>
</div>

