<div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let medicion of mediciones">
            <div class="card shadow-sm">
                <img [src]="medicion.imagen_base64" alt="{{medicion.id}}" />
                <div class="card-body">
                    <p> Peso: {{ medicion.peso }} g</p>
                    <p class="card-text"> Fecha de Medición: {{medicion.fecha_medicion}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
