.bg-gradient-success {
    background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%);
    color: white;
}

.bg-gradient-danger {
    background: linear-gradient(87deg, #f5365c 0, #f56036 100%);
    color: white;
}
